<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MyHomeVision</display-name>
  <listener>
    <listener-class>com.mhv.config.DAOFactoryConfiguration</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>Home</display-name>
    <servlet-name>Home</servlet-name>
    <servlet-class>com.mhv.servlet.Home</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>UserSubscription</display-name>
    <servlet-name>UserSubscription</servlet-name>
    <servlet-class>com.mhv.servlet.UserSubscription</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>Connection</display-name>
    <servlet-name>Connection</servlet-name>
    <servlet-class>com.mhv.servlet.Connection</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>Disconnection</display-name>
    <servlet-name>Disconnection</servlet-name>
    <servlet-class>com.mhv.servlet.Disconnection</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>UserManagement</display-name>
    <servlet-name>UserManagement</servlet-name>
    <servlet-class>com.mhv.servlet.UserManagement</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>DeviceManagement</display-name>
    <servlet-name>DeviceManagement</servlet-name>
    <servlet-class>com.mhv.servlet.DeviceManagement</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ConfigureHabitation</display-name>
    <servlet-name>ConfigureHabitation</servlet-name>
    <servlet-class>com.mhv.servlet.ConfigureHabitation</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>DeleteUser</display-name>
    <servlet-name>DeleteUser</servlet-name>
    <servlet-class>com.mhv.servlet.DeleteUser</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>CreatePallier</display-name>
    <servlet-name>CreatePallier</servlet-name>
    <servlet-class>com.mhv.servlet.CreatePallier</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>DeletePallier</display-name>
    <servlet-name>DeletePallier</servlet-name>
    <servlet-class>com.mhv.servlet.DeletePallier</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>SetPallierPicture</display-name>
    <servlet-name>SetPallierPicture</servlet-name>
    <servlet-class>com.mhv.servlet.SetPallierPicture</servlet-class>
    <init-param>
      <param-name>uploadPath</param-name>
      <param-value>/home/jhx/Workspace/java/MyHomeVision/WebContent/images/pallier</param-value>
    </init-param>
  </servlet>
  <servlet>
    <description></description>
    <display-name>PallierAreasDefiner</display-name>
    <servlet-name>PallierAreasDefiner</servlet-name>
    <servlet-class>com.mhv.servlet.PallierAreasDefiner</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserSubscription</servlet-name>
    <url-pattern>/user_subscription</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Connection</servlet-name>
    <url-pattern>/connection</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Disconnection</servlet-name>
    <url-pattern>/disconnection</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserManagement</servlet-name>
    <url-pattern>/user_management</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeviceManagement</servlet-name>
    <url-pattern>/device_management</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteUser</servlet-name>
    <url-pattern>/delete_user</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ConfigureHabitation</servlet-name>
    <url-pattern>/configure_habitation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreatePallier</servlet-name>
    <url-pattern>/create_pallier</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeletePallier</servlet-name>
    <url-pattern>/delete_pallier</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SetPallierPicture</servlet-name>
    <url-pattern>/set_pallier_picture</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PallierAreasDefiner</servlet-name>
    <url-pattern>/configure_locations</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>ApplicationFilter</display-name>
    <filter-name>ApplicationFilter</filter-name>
    <filter-class>com.mhv.filters.ApplicationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ApplicationFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>HalDeviceList</display-name>
    <servlet-name>HalDeviceList</servlet-name>
    <servlet-class>com.mhv.servlet.HalDeviceList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HalDeviceList</servlet-name>
    <url-pattern>/haldevicelist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GeneralConfiguration</display-name>
    <servlet-name>GeneralConfiguration</servlet-name>
    <servlet-class>com.mhv.servlet.GeneralConfiguration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GeneralConfiguration</servlet-name>
    <url-pattern>/general_configuration</url-pattern>
  </servlet-mapping>
</web-app>